*{
    margin: 0;
    padding: 0;
}
.bg-color{
    background-color: #a50000;
    color: #fffef8;
}
.color{
    color:#fffef8;
}
.icon-size{
    font-size: 20px;
    text-align: right;
    margin-left: 45vw;
    cursor: pointer;
}
@media (max-width: 868px){
    .icon-size{
        margin-left: 0;
    }
    .main{
        grid-template-columns: auto;
    }
    .middle{
        grid-template-columns: auto;
    }
}
.container{
    margin-top: 50px;
}
.container .bold-red{
    color: #a50000;
}
a{
    text-decoration: none;
    color: #fffef8;
}
a:hover{
    text-decoration: none;
    color: #fffef8;
}
.hire-btn-color{
    background-color: #285476;
    color: #fffef8;
    font-weight: bold;
}
.main{
    display: grid;
    grid-template-columns: auto auto;
    /* min-height: 500px; */
}

.inner-container{
    max-width: 50%;
}
.button-change:hover{
    background-color: #a50000;
    color: #fffef8;
    border: 1px solid #a50000;
}
.hide{
    display: none;
}
.middle{
    background-color: #161E2C;
    color: #fffef8;
    border-radius: 20px;
}
.progress{
    margin: 10px;
}
.option-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.option-buttons .btn1{
    width: 150px;
    background-color: #a50000;
    color: #fffef8;
    margin: 5px;
}
.option-buttons .btn1:hover{
    background-color: #161E2C;
    color: #a50000;
}
.option-buttons .btn2{
    width: 150px;
}
.btn11{
    background-color: #a50000;
    color: #fffef8;
    border: 2px solid red;
    width: 150px;
}
.btn11:hover{
    background-color: #fffef8;
    color: #a50000;
}